<apex:page standardController="Contact">
    
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection collapsible="true" title="Contact Detail">
                <apex:inputField label="First Name" value="{!Contact.FirstName}"/>
                <apex:inputField label="Last Name" value="{!Contact.LastName}"/>
                <apex:inputField label="Email" value="{!Contact.Owner.Email}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    
    
</apex:page>